*{
    color: #ffdcdc;
    font-family: "Barlow", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1{
    font-family: "Lavishly Yours", cursive;
    font-size: 2em;
    font-weight: 700;
}

#dados > strong{
    font-family: "Black Ops One", cursive;
}

body{
    background-color: #e21313;
}

#dados span{
    display: block;
}

#preferencias{
    margin-top: 10px;
    display: flex;
    text-align: center;
    gap: 1em;
    width: 100%;
}
#preferencias > div{
    padding: 7px;
    padding-bottom: 10px;
    width: 350px;
    border-style: solid;
    border-width: 2px;
    border-color: #000000;
    border-top-left-radius: 25px;
    box-shadow: 2px 2px 5px #000000;
}

